<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Portal</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <h1>please work</h1>
    <div id="react"></div>
    <div id="line"></div>
    <div id="container"></div>



    <!--<script src = "basic.js" type = "text/babel" ></script>-->
    <script src="built/vendors.js"></script>
    <script src="built/bundle.js"></script>

    <!--<script src="linechart.js" type = "text/babel"></script>-->
</body>
</html>
