<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Venues</title>

</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(venues)}">
        <h2>Venue List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Capacity</th>
            </tr>
            <tr th:each="venue : ${venues}">
                <td th:text="${venue.id}"><a href="/venue/${venue.id}">Id</a></td>
                <td th:text="${venue.email}">email</td>
                <td th:text="${venue.capacity}">Capacity</td>
                <td><a th:href="${'/venue/' + venue.id}">View</a></td>
                <td><a th:href="${'/venue/edit/' + venue.id}">Edit</a></td>
                <td><a th:href="${'/venue/delete/' + venue.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>
